<ul class="nav nav-tabs">
  <li> <%= link_to tag_icon(:list, pat(:list)), url(:topics, :index) %></li>
  <li class="active"> <%= link_to tag_icon(:plus, pat(:new)), url(:topics, :new) %></li>
</ul>
<div class="tabs-content">
  <% form_for :topic, url(:topics, :create), :class => 'form-horizontal' do |f| %>
    <%= partial 'topics/form', :locals => { :f => f } %>
 <% end %>
</div>
