  <% @mensajes.each do |m| %>
    <p>
      <%= m %>
    </p>
  <% end %>

<% if @errores.count == 0 %>
  <p>
  Los datos han quedado almacenados en nuestro potente cluster Cassandra
  </p>
  <h6>
    En realidad queríamos impresionarlo
  </h6>
  <h6>
    Leímos por ahi que esa base era un artifundio mucho muy complicado y nos pareció importante ponerlo.
  </h6>
<% else %>
  <h2>Han ocurrido los siguientes errores al procesar el formulario</h2>
  <ul>
    <% @errores.each do |m| %>
      <li>
        <%= m %>
      </li>
    <% end %>
  </ul>
<% end %>

<%# <button onclick="goBack()">Volver</button> %>
<center>
  [:: <%= link_to "Ver resultados", "/" %> - <a href="http://etlmdz.github.io">Volver a ETLMDZ</a> ::]
</center>

<script>
  /*
  function goBack() {
    window.history.back();
  }
  */
</script>
